h1 {
   font-family: 'Satisfy', cursive;
    font-size: 50px;
    line-height: 1.5;
    color: teal ;
 
}

p{

    font-family:'Satisfy', cursive;
    font-size:28px;
    line-height:2;
    color:black;
}

h5{
 font-family: 'Satisfy', cursive;
   font-size: 35px;
    color: black ;  
}

